* {
  margin: 0;
  box-sizing: border-box;
}

.mainLayout {
  width: 100vw;
  height: 100vh;
}

.pad10 {
  padding: 10px;
}

.ptb10 {
  padding: 10px 0;
}

.pad20 {
  padding: 20px;
}

.bgfff {
  background: #FFF;
}

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.aic {
  display: flex;
  align-items: center;
}

.bt {
  justify-content: space-between;
}